@model Projeto
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header no-margin-bottom">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Projetos</h2>
    </div>
</div>
<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
        <li class="breadcrumb-item active">Adicionar projeto</li>
    </ul>
</div>
<section>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-8">

                        <form action="/" enctype="multipart/form-data" method="POST">
                            <div class="form-group">
                                <label class="form-control-label">Título</label>
                                <input type="text" placeholder="Título para o seu projeto" class="form-control" id="Titulo">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Categoria</label>
                                <input type="text" placeholder="Categoria do projeto" class="form-control" id="Categoria">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Back-end</label>
                                <input type="text" placeholder="Tecnologias de back-end" class="form-control" id="Backend">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Front-end</label>
                                <input type="text" placeholder="Tecnologias de front-end" class="form-control" id="Frontend">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Banco de dados</label>
                                <input type="text" placeholder="Banco de dados" class="form-control" id="BancoDados">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Descrição</label>
                                <textarea rows="4" placeholder="Descrição sobre o projeto" class="form-control" id="Desc"></textarea>
                            </div>

                            <div class="">
                                <label class="form-control-label">Imagens do projeto</label>
                                <div class="dropzone" id="myDropzone"></div>
                            </div>
                            <div class="form-group mt-5">
                                <button class="btn btn-primary" type="submit" id="submit-all"> Adicionar </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section DropzoneJs {
    <script src="~/lib/dropzone/dropzone.js"></script>
    <script src="~/lib/messenger-hubspot/build/js/messenger.min.js"></script>
    <script src="~/lib/messenger-hubspot/build/js/messenger-theme-flat.js"></script>
    <script type="text/javascript">

        function myParamName() {
            return "files";
        };

        Dropzone.options.myDropzone = {
            url: "/Projeto/Create",
            maxFilesize: 2, // MB
            maxFiles: 3,
            parallelUploads: 3,
            clickable: true,
            acceptedFiles: ".png,.jpg",
            uploadMultiple: true,
            createImageThumbnails: true,
            autoProcessQueue: false,
            addRemoveLinks: true,
            paramName: myParamName,
           //Mensagens padrões do DropzoneJS
            dictDefaultMessage: "Arraste e solte as imagens aqui",
            dictFallbackMessage: "Your browser does not support drag'n'drop file uploads.",
            dictFallbackText: "Please use the fallback form below to upload your files like in the olden days.",
            dictFileTooBig: "File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.",
            dictInvalidFileType: "You can't upload files of this type.",
            dictResponseError: "Server responded with {{statusCode}} code.",
            dictCancelUpload: "Cancel upload",
            dictCancelUploadConfirmation: "Are you sure you want to cancel this upload?",
            dictRemoveFile: "<button class='btn-lg btn-circle btn-danger'>Remover</button>",
            dictMaxFilesExceeded: "You can not upload any more files.",

            init: function () {
                myDropzone = this;
                var submitButton = document.querySelector("#submit-all");
                var wrapperThis = this;

                submitButton.addEventListener("click", function () {
                    wrapperThis.processQueue();
                });

                this.on('sendingmultiple', function (data, xhr, formData) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                    formData.append("Titulo", $('#Titulo').val().trim());
                    formData.append("Categoria", $('#Categoria').val().trim());
                    formData.append("BackEnd", $('#Backend').val().trim());
                    formData.append("FrontEnd", $('#Frontend').val().trim());
                    formData.append("BD", $('#BancoDados').val().trim());
                    formData.append("Desc", $('#Desc').val().trim());

                    submitButton.setAttribute("disabled", "disabled");
                });

                this.on("successmultiple", function (file, formData) {
                    Messenger.options = {
                        extraClasses: "messenger-fixed messenger-on-top messenger-on-right",
                        theme: "flat",
                        messageDefaults: {
                            showCloseButton: !0
                        }
                    },
                    Messenger().post({
                        message: "Projeto adicionado com sucesso =)",
                        type: "success"
                    })
                    setTimeout(function(){window.location.href = "/Projeto/Index";}, 3500);
                });
                this.on("error", function (file, errorMessage) {
                    $("body").prepend('<div class="alert alert-danger alert-dismissable">' +
                        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
                        '<strong>Error!</strong> ' + errorMessage + '</div >');
                    submitButton.removeAttribute("disabled");
                });
            }
        };

    </script>
}
