@model ProjetoCreateEditViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header no-margin-bottom">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Projetos para seu portfólio</h2>
    </div>
</div>
<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Projeto Listar</a></li>
        <li class="breadcrumb-item active">Adicionar projeto</li>
    </ul>
</div>
<section>
    <div class="container-fluid">
        <div class="block">
            <div class="block-body">
                <form asp-action="Create"
                      enctype="multipart/form-data"
                      method="POST">

                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label class="form-control-label">Título</label>
                                <input asp-for="Titulo"
                                       type="text"
                                       placeholder="Título para o seu projeto"
                                       class="form-control"
                                       id="Titulo"
                                       maxlength="80"
                                       required>
                                <span asp-validation-for="Titulo" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label">Categoria</label>
                                <select asp-for="Tipo"
                                        asp-items="@Model.CatList"
                                        class="form-control">
                                    <option hidden disabled selected>Selecione a categoria</option>
                                </select>
                                <span asp-validation-for="Tipo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <hr class="hr-text" data-content="Tecnologias" />

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label">Back-end</label>
                                <select asp-for="BackEnd"
                                        asp-items="@Model.BEList"
                                        class="form-control">
                                    <option hidden disabled selected>Selecione a tecnologia back-end</option>
                                </select>
                                <span asp-validation-for="BackEnd" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label">Front-end</label>
                                <select asp-for="FrontEnd"
                                        asp-items="@Model.FEList"
                                        class="form-control">
                                    <option hidden disabled selected>Selecione a tecnologia front-end</option>
                                </select>
                                <span asp-validation-for="FrontEnd" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label">Banco de dados</label>
                                <select asp-for="BancoDados"
                                        asp-items="@Model.DBList"
                                        class="form-control"
                                        required>
                                    <option hidden disabled selected>Selecione o DB</option>
                                </select>
                                <span asp-validation-for="BancoDados" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <hr class="hr-text" data-content="Imagens" />


                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label">Background</label>
                                <div class="file-loading">
                                    <input asp-for="ImgBackground"
                                           type="file"
                                           accept="image/jpeg, image/png"
                                           class="custom-file-input"
                                           id="background"
                                           required>
                                    <label class="custom-file-label" for="background">Selecione a imagem de background</label>
                                </div>
                                <span asp-validation-for="ImgBackground" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label">Imagem 01</label>
                                <div class="file-loading">
                                    <input asp-for="Img01"
                                           type="file"
                                           accept=".jpg,.png"
                                           class="custom-file-input"
                                           id="img01"
                                           required>
                                    <label class="custom-file-label" for="img01">Selecione a imagem 01</label>
                                </div>
                                <span asp-validation-for="Img01" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label">Imagem 02</label>
                                <div class="file-loading">
                                    <input asp-for="Img02"
                                           type="file"
                                           accept=".jpg,.png"
                                           class="custom-file-input"
                                           id="img02"
                                           name="img02"
                                           required>
                                    <label class="custom-file-label" for="img02">Selecione a imagem 02</label>
                                </div>
                                <span asp-validation-for="Img02" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-5">
                        <label class="form-control-label">Descrição</label>
                        <textarea asp-for="Descricao"
                                  rows="6"
                                  placeholder="Descrição sobre o projeto"
                                  class="form-control"
                                  id="Desc"
                                  maxlength="500"
                                  required></textarea>
                    </div>
                    <div class="form-group mt-5">
                        <button class="btn btn-success" type="submit" id="submit-all"> Adicionar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section ProjetoCreateCss{
    <link href="~/lib/bootstrap input-file/css/fileinput.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link href="~/lib/bootstrap input-file/themes/explorer-fas/theme.css" rel="stylesheet" />
}

@section ProjetoCreateJs {
    <script src="~/lib/bootstrap input-file/js/fileinput.min.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap input-file/themes/fas/theme.min.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap input-file/themes/explorer-fas/theme.min.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap input-file/js/locales/pt-BR.js" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#background").fileinput({
                'theme': 'explorer-fas',
                language: "pt-BR",
                'showUpload': false,
                allowedFileExtensions: ["jpg", "png"],
                overwriteInitial: false,
                initialPreviewAsData: true,
                dropZoneEnabled: false
            });

            $("#img01").fileinput({
                'theme': 'explorer-fas',
                language: "pt-BR",
                'showUpload': false,
                allowedFileExtensions: ["jpg", "png"],
                overwriteInitial: false,
                initialPreviewAsData: true,
                dropZoneEnabled: false
            });


            $("#img02").fileinput({
                'theme': 'explorer-fas',
                language: "pt-BR",
                'showUpload': false,
                allowedFileExtensions: ["jpg", "png"],
                overwriteInitial: false,
                initialPreviewAsData: true,
                dropZoneEnabled: false
            });
        });

    </script>
}
